<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load cache %}


{% for category in page_obj%}
    {% cache 5000 cat %}
            <h3>{{category.name}} </h3><br>
    {% endcache %}
    {% for product in category.product.all %}
        {% cache 5000 prod product.id%}
         <h4>{{product.name}}</h4><br>
        {% endcache %}
            {{product.price}}  {{product.status}}   {{product.remains}}<br>
    {% endfor %}

{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

</body>
</html>


